@namespace Components

<style>
    .mat-card {
        max-width: 500px
    }

    .mat-card-content {
        padding: 1rem
    }

    .mat-card-clean-margin {
        margin: 0px
    }

    .mat-card-actions {
        width: 100%;
        float: right;
    }
</style>

<MatCard class="mat-card">
    <MatCardContent>
        <div class="mat-card-content">
            <MatHeadline6 class="mat-card-clean-margin">
                "@CroakData.Content"
            </MatHeadline6>
            <MatSubtitle6 class="mat-card-clean-margin">
                @CroakData.Author
            </MatSubtitle6>
        </div>
    </MatCardContent>
    <MatCardActions>
        <MatCardActionIcons>
            <MatButton
                TrailingIcon="share"
                OnClick="@OnPressShare"
            >
                @CroakData.Shares
            </MatButton>
            <MatButton
                TrailingIcon="favorite"
                OnClick="@OnPressShare"
            >
                @CroakData.Shares
            </MatButton>
        </MatCardActionIcons>
    </MatCardActions>
</MatCard>

@code {
    [Parameter]
    public edu_croaker.Data.Croak CroakData { get; set; }

    void OnPressShare()
    {
        CroakData.Shares += 1;
    }
}