@page "/"
@page "/byHashtag/{Hashtag}"
@page "/byUser/{UserName}"
@page "/followersOf"
@page "/followedBy"

@using System.Collections.Generic
@using edu_croaker.Data
@using edu_croaker.Dtos
@using edu_croaker.Services
@using Components

<div>
    <AuthorizeView>
        <Authorized>
            <div class="row">
                <div class="col-3">
                    <div class="sticky-side-bar">
                        <Profile />
                    </div>
                </div>
                <div class="col-5">
                    <WriteCroak />
                    <DeleteCroak />

                    @if (Filter == CroakFetchFilter.ByHashtag)
                    {
                        <HashtagFilterAlert Hashtag="@Hashtag" />
                    }
                    else if (Filter == CroakFetchFilter.ByUser)
                    {
                        <UserSummaryContainer UserName="@UserName" />
                    }
                    
                    <CroaksContainer Hashtag="@Hashtag" UserName="@UserName" Filter="@Filter" />
                </div>
                <div class="col-3">
                    <div class="sticky-side-bar">
                        <Popular />
                        <div style="margin-top: 5px">
                            <Discover />
                        </div>
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <Login />
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {
    [Parameter]
    public string Hashtag { get; set; }

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public CroakFetchFilter Filter { get; set; } = CroakFetchFilter.Generic;

    protected override async Task OnParametersSetAsync()
    {
        if (Hashtag != null)
        {
            Filter = CroakFetchFilter.ByHashtag;
        }
        else if (UserName != null)
        {
            Filter = CroakFetchFilter.ByUser;
        }
        else
        {
            Filter = CroakFetchFilter.Generic;
        }
    }
}