@page "/"
@page "/byHashtag/{Hashtag}"
@page "/byUser/{UserName}"

@using System.Collections.Generic
@using edu_croaker.Data
@using edu_croaker.Dtos
@using edu_croaker.Services
@using Components

<div>
    <AuthorizeView>
        <Authorized>
            <div class="row">
                <LeftPanel />
                <MainPanel>
                    @if (Filter == CroakFetchFilter.ByHashtag)
                    {
                        <HashtagFilterAlert Hashtag="@Hashtag" />
                    }
                    else if (Filter == CroakFetchFilter.ByUser)
                    {
                        <UserSummaryContainer UserName="@UserName" />
                    }
                    <CroaksContainer Hashtag="@Hashtag" UserName="@UserName" Filter="@Filter" />
                </MainPanel>
                <RightPanel/>
            </div>
        </Authorized>
        <NotAuthorized>
            <Login />
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {
    [Parameter]
    public string Hashtag { get; set; }

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public CroakFetchFilter Filter { get; set; } = CroakFetchFilter.Generic;

    protected override async Task OnParametersSetAsync()
    {
        if (Hashtag != null)
        {
            Filter = CroakFetchFilter.ByHashtag;
        }
        else if (UserName != null)
        {
            Filter = CroakFetchFilter.ByUser;
        }
        else
        {
            Filter = CroakFetchFilter.Generic;
        }
    }
}